In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [5]:
customer_info = pd.read_csv('customer_info.csv')
customer_info.head()

,Unnamed: 0,customer_id,customer_name,customer_gender,customer_birthdate,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_spend_petfood,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
0,0,29930,April Clark,female,01/15/1972 02:27 PM,2.0,2.0,1.0,4.0,7789.0,...,1894.0,457.0,412.0,428.0,386.0,0.158741,2018.0,NaN,38.721807,-9.125534
1,1,6813,Bsc. Paul Ketchum,male,07/31/1944 10:53 AM,0.0,1.0,0.0,4.0,8653.0,...,346.0,394.0,75.0,226.0,73.0,1.227890,2013.0,971840.0,38.734668,-9.163533
2,2,39451,Mary Downing,female,11/13/1989 02:11 PM,2.0,3.0,0.0,7.0,15605.0,...,1971.0,920.0,335.0,192.0,319.0,0.101598,2011.0,NaN,38.787126,-9.147077
3,3,21557,Manuel Kueny,male,08/09/1976 06:23 AM,0.0,0.0,1.0,1.0,13440.0,...,785.0,139.0,679.0,270.0,221.0,0.259943,2009.0,NaN,38.741816,-9.159700
4,4,16415,Phd. Curtis Tharp,male,07/11/1966 08:12 AM,1.0,1.0,1.0,5.0,49250.0,...,1492.0,1046.0,112.0,144.0,244.0,0.317822,2012.0,925367.0,38.785921,-9.149221

In [8]:
customer_baskets = pd.read_csv('customer_basket.csv')
customer_baskets.head()

   invoice_id                                      list_of_goods  customer_id
0     5062209  ['megaman zero 3', 'energy bar', 'pokemon viol...         4925
1     4272512  ['black beer', 'bramble', 'laptop', 'pokemon v...        19046
2     7121052  ['soup', 'shallot', 'cake', 'fresh bread', 'cr...        10318
3     5847748  ['soup', 'cooking oil', 'cereals', 'oil', 'dog...        27283
4     6336114  ['eggplant', 'mint green tea', 'oil', 'bacon',...        16072

In [9]:
customer_info=customer_info.drop(['Unnamed: 0'], axis=1)

In [ ]:
round(customer_info.isna().sum()/len(customer_info)*100, 1)

customer_id                                 0.0
customer_name                               0.0
customer_gender                             0.0
customer_birthdate                          1.0
kids_home                                   2.2
teens_home                                  2.3
number_complaints                           3.0
distinct_stores_visited                     2.0
lifetime_spend_groceries                    0.0
lifetime_spend_electronics                  0.0
typical_hour                                4.0
lifetime_spend_vegetables                   3.0
lifetime_spend_nonalcohol_drinks            0.0
lifetime_spend_alcohol_drinks               2.0
lifetime_spend_meat                         0.0
lifetime_spend_fish                         5.0
lifetime_spend_hygiene                      0.0
lifetime_spend_videogames                   0.0
lifetime_spend_petfood                      0.0
lifetime_total_distinct_products            0.0
percentage_of_products_bought_promotion     0.0
year_first_transaction                      0.0
loyalty_card_number                        32.0
latitude                                    0.0
longitude                                   0.0
dtype: float64

In [16]:
customer_info.describe()

,customer_id,kids_home,teens_home,number_complaints,distinct_stores_visited,lifetime_spend_groceries,lifetime_spend_electronics,typical_hour,lifetime_spend_vegetables,lifetime_spend_nonalcohol_drinks,...,lifetime_spend_fish,lifetime_spend_hygiene,lifetime_spend_videogames,lifetime_spend_petfood,lifetime_total_distinct_products,percentage_of_products_bought_promotion,year_first_transaction,loyalty_card_number,latitude,longitude
count,34060.000000,33311.000000,33277.000000,33038.000000,33379.000000,34060.000000,34060.000000,32698.000000,33038.000000,34060.000000,...,32357.000000,34060.000000,34060.000000,34060.000000,34060.000000,34060.000000,34060.000000,23152.000000,34060.000000,34060.000000
mean,20010.854433,1.170244,0.936292,0.832042,2.914078,22818.404698,3816.022343,13.200746,738.642079,478.382854,...,828.842662,711.297534,399.434968,317.755843,156.691339,0.337093,2014.593218,950528.738856,38.747812,-9.156987
std,11557.889072,1.307319,0.759579,0.771205,1.549081,20098.763199,3858.352640,4.681384,679.599323,282.132536,...,655.803300,481.230522,320.221650,150.513835,118.969652,0.322766,4.739037,28904.951217,0.021562,0.024561
min,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,6.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,-1.340710,1995.000000,900009.000000,38.700486,-9.214894
25%,10018.750000,0.000000,0.000000,0.000000,2.000000,9346.000000,860.000000,9.000000,222.000000,231.000000,...,269.000000,338.000000,185.000000,212.000000,62.000000,0.113353,2011.000000,925548.500000,38.730512,-9.175987
50%,19985.500000,1.000000,1.000000,1.000000,3.000000,15877.500000,2958.000000,13.000000,451.000000,453.000000,...,714.000000,634.000000,319.000000,313.000000,122.000000,0.240373,2015.000000,950704.000000,38.747755,-9.157015
75%,30042.250000,1.000000,1.000000,1.000000,4.000000,30428.250000,5309.000000,16.000000,1089.750000,661.000000,...,1269.000000,1001.000000,506.000000,414.000000,235.000000,0.514691,2018.000000,975600.250000,38.764967,-9.140522
max,40000.000000,10.000000,4.000000,4.000000,10.000000,158544.000000,37523.000000,24.000000,5380.000000,1702.000000,...,4043.000000,3286.000000,2176.000000,1007.000000,946.000000,1.952971,2026.000000,999996.000000,38.793672,-9.065429

In [17]:
customer_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34060 entries, 0 to 34059
Data columns (total 25 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   customer_id                              34060 non-null  int64
 1   customer_name                            34060 non-null  object
 2   customer_gender                          34060 non-null  object
 3   customer_birthdate                       33719 non-null  object
 4   kids_home                                33311 non-null  float64
 5   teens_home                               33277 non-null  float64
 6   number_complaints                        33038 non-null  float64
 7   distinct_stores_visited                  33379 non-null  float64
 8   lifetime_spend_groceries                 34060 non-null  float64
 9   lifetime_spend_electronics               34060 non-null  float64
 10  typical_hour                             32698 non-null  float64
 11  lifetime_spend_vegetables                33038 non-null  float64
 12  lifetime_spend_nonalcohol_drinks         34060 non-null  float64
 13  lifetime_spend_alcohol_drinks            33379 non-null  float64
 14  lifetime_spend_meat                      34060 non-null  float64
 15  lifetime_spend_fish                      32357 non-null  float64
 16  lifetime_spend_hygiene                   34060 non-null  float64
 17  lifetime_spend_videogames                34060 non-null  float64
 18  lifetime_spend_petfood                   34060 non-null  float64
 19  lifetime_total_distinct_products         34060 non-null  float64
 20  percentage_of_products_bought_promotion  34060 non-null  float64
 21  year_first_transaction                   34060 non-null  float64
 22  loyalty_card_number                      23152 non-null  float64
 23  latitude                                 34060 non-null  float64
 24  longitude                                34060 non-null  float64
dtypes: float64(21), int64(1), object(3)
memory usage: 6.5+ MB

In [ ]:
categorical_columns = customer_info.select_dtypes(include=['object']).columns.tolist()
numerical_columns = customer_info.select_dtypes(include=['number']).columns.tolist()

In [22]:
categorical_columns = customer_info.select_dtypes(include=['object']).columns.tolist()
numerical_columns = customer_info.select_dtypes(include=['number']).columns.tolist()

In [26]:
# Select categorical columns
categorical_vars = customer_info[categorical_columns]

# Select numerical columns
numerical_vars = customer_info[numerical_columns]

categorical_columns

['customer_name', 'customer_gender', 'customer_birthdate']

In [24]:
for col in categorical_vars.columns:
    print("\n",customer_info[col].value_counts(),"\n---------------")

 customer_name
Robert Brown          6
Linda Williams        4
Michael Smith         4
John Taylor           4
Bsc. Mary Williams    4
                     ..
Mary Diaz             1
John Gross            1
Kathleen Harper       1
Msc. Jenny Landry     1
Manuel Kueny          1
Name: count, Length: 33579, dtype: int64
---------------

 customer_gender
male      17133
female    16927
Name: count, dtype: int64
---------------

 customer_birthdate
02/04/1989 04:33 PM    2
05/07/2001 12:46 AM    2
12/23/1956 11:57 PM    2
09/23/1977 07:41 PM    2
08/16/1947 08:24 AM    2
                      ..
01/20/1999 06:47 PM    1
08/01/1984 07:50 PM    1
09/16/2000 07:22 AM    1
04/09/1961 10:52 AM    1
07/23/1979 11:35 AM    1
Name: count, Length: 33710, dtype: int64
---------------